/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, tt, var,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; /*vertical-align: baseline;*/}
input[type=search] { -moz-appearance:none; -webkit-appearance:none; }
textarea:focus, input:focus{
    outline: none;
}
sub, sup {font-size: 75%;line-height: 0;position: relative;	vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


/* htm5 IE reset */
article, aside, figure, footer, header, hgroup,
menu, nav, section { display:block; }

html, body{margin:0;padding:0;height:100%;font-family:Arial,Verdana, Helvetica, sans-serif; font-size:1em; line-height:1.3em; min-width:1000px; background:#FFF;}

hr{clear:both;visibility:hidden; height:0px; margin:0; padding:0;}
.clear {clear:both;visibility:hidden; height:0px; margin:0; padding:0;}
.clearfix:after { content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {	display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}

hr.line {color: #e5e2dd; background-color: #e5e2dd; height: 1px; visibility:visible; border:none; margin:20px 0 20px 0;}

h1, h2, h3, h4, h5, h6 { font-size:1.1em; line-height:1.1em; color:#000; margin-bottom:7px; text-align:left; font-weight:bold;}
h1 { font-size:1.6em;}
h2 { font-size:1.2em;}
body.vervolg h1 { display:block; float:left; margin:92px 0 0 50px; position:relative; font-size:2.4em;color:#f87b00;} 

a{ color:#000; text-decoration:underline;}
a>i { text-decoration:none !important;}
a:hover { color:#000; text-decoration:none;}
a:focus {outline: none;} /* verwijderen van borders na klik bij van webkit browsers*/

strong { font-weight:bold;}

p { margin:0 0 15px 0;}
th, td { vertical-align:top; text-align:left;}
th {font-family:"Futura W01 Bold";}

.noMarginBottom { margin-bottom:0px !important;}
.noMarginLeft { margin-left:0px !important;}
.noMarginRight { margin-right:0px !important;}
.noBorderRight { border-right:none !important;}
.noBorderBottom { border-bottom:none !important;}
.paddingLeft10 { padding-left:10px !important;}
.noPaddingLeft { padding-left:0 !important;}
.noPaddingRight { padding-right:0 !important;}

blockquote { background-color:#FFF; padding:20px; border:1px solid #BBB; margin-bottom:15px; font-size:0.92em;}

.container { width:960px; position:relative; padding:40px 20px 60px 20px; margin:0 auto;}  /* must be same height as the footer */
.container ul { margin:0; padding:0 0 0 15px;}
.container li { margin-bottom:4px;}

header { width:100%; height:165px; clear:both; position:relative; border-bottom: 1px solid #ddd;}
#logo { display:block; clear:both; width:310px; height:130px; background: url(../img/logo_amsterdammuseum.png) top left no-repeat; padding:0; margin:0;}
#logo span { display:none;}
#siteMenuLeft { float:left;}
#siteMenuRight { float:right;}
.nav { padding:0; margin:0; list-style:none;}
.nav li{display:inline;}
.nav li a{display:block; float:left; padding:0 10px 0 10px; margin-right:3px; height:35px; line-height:35px; font-size:1.1em; text-transform:lowercase; text-decoration:none;}
.nav li a>i { margin-right:3px;}
.nav li a:hover, .nav li a.selected { background:#DDD;}

.blokLeft, .blokRight { width:450px; padding:15px; float:left;}
#viewer { background-color:#DDD;  border-radius: 4px; -moz-border-radius: 4px;  -webkit-border-radius: 4px; border:1px solid #ccc; width:448px;}
 
form label { display:block; clear:both;}
form label span { display:block; clear:both;}
form#login-form div { margin:10px 0 10px 0;}

#volgende { margin-left:10px;}

footer { width: 100%; background-color: #FFF; margin-top: 0px; height: 80px; padding: 0;  
         text-align: center; font-style: italic; color: #888; border-top: 1px solid #ddd;}
footer img { margin-top:10px;}		 

.btn-primary, .btn{background-color:#909090; text-decoration:none;  color:#FFFFFF; padding:3px 15px 3px 15px; border-radius: 8px; -moz-border-radius: 8px;  -webkit-border-radius: 8px; border:1px outset #000;text-shadow: 1px 1px 0px #000; font-weight:bold; font-size:1em;}
.btn-primary:hover, .btn:hover { text-shadow:none;}
.btn-primary:active, .btn:active {border:1px inset #000; text-shadow:none;}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #cccccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;
display:inline-block;height:18px;padding:4px;margin:5px 0 9px 0;font-size:13px;line-height:18px;color:#999999;}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(153, 153, 153, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153, 153, 153,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153, 153, 153,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153, 153, 153,.6);}

#antwoord { width:320px;}

/* progress bar */
.progress { margin:15px 0 15px 0;}
@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0;} to{background-position:0 0;}}@-moz-keyframes progress-bar-stripes{from{background-position:40px 0;} to{background-position:0 0;}}@-ms-keyframes progress-bar-stripes{from{background-position:40px 0;} to{background-position:0 0;}}@-o-keyframes progress-bar-stripes{from{background-position:0 0;} to{background-position:40px 0;}}@keyframes progress-bar-stripes{from{background-position:40px 0;} to{background-position:0 0;}}.progress{overflow:hidden;height:18px;margin-bottom:18px;background-color:#f7f7f7;background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);background-image:-ms-linear-gradient(top, #f5f5f5, #f9f9f9);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);background-image:linear-gradient(top, #f5f5f5, #f9f9f9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.progress .bar{width:0%;height:18px;color:#ffffff;font-size:12px;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#ff0000;background-image:-moz-linear-gradient(top, #ff0000, #ad0303);background-image:-ms-linear-gradient(top, #ff0000, #ad0303);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#ad0303));background-image:-webkit-linear-gradient(top, #ff0000, #ad0303);background-image:-o-linear-gradient(top, #ff0000, #ad0303);background-image:linear-gradient(top, #ff0000, #ad0303);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ad0303', GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width 0.6s ease;-moz-transition:width 0.6s ease;-ms-transition:width 0.6s ease;-o-transition:width 0.6s ease;transition:width 0.6s ease;}


/* styles toegepast voor Amsterdam Museum */
a, h1, h2, h3, h4, h5, h6{ color:#ED1D24;}
a:hover {color:#8B0304;}
.btn-primary, .btn{background-color:#ED1D24; color:#FFFFFF; padding:3px 15px 3px 15px; border-radius: 0px; -moz-border-radius: 0px;  -webkit-border-radius: 0px; border: none;text-shadow: none;}
