<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}VetRommelingh{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/AHMTG.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% block extra_head %}{% endblock %}
</head>
<body>

    <header>
		<nav id="siteMenuLeft">
          <ul class="nav">
            <li {% if pagename == 'home' %} class="active"{% endif %}><a href="/"><i class="icon-home"></i>Home</a></li>            
            {% if user.is_staff %}
            <li><a href="/admin/"><i class="icon-edit"></i>Admin</a></li>
            <li{% if pagename == 'makeseries' %} class="active"{% endif %}><a href="/makeseries/"><i class="icon-tasks"></i>Serie Maken</a></li>
            {% endif %}
            <li{% if pagename == 'help' %} class="active"{% endif %}><a href="/help/about"><i class="icon-question-sign"></i>Help</a></li>
          </ul>
        </nav>
		<nav id="siteMenuRight">
            <ul class="nav">
              {% if user.is_anonymous %}
              <li><a href="/logout/"><i class="icon-signin"></i>Login</a></li>  
              {% else %}
              <li><a href="/logout/"><i class="icon-signout"></i>Uitloggen</a></li>
              {% endif %}
              
              <li><a href="/help/contact"><i class="icon-envelope-alt"></i>Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

{% block container %}{% endblock container %}
	<hr />
    </div> <!-- /container -->
      <footer>
        <img src="/static/img/footer_tagginggame.png" alt="footer" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="140,0,432,120" href="http://www.amsterdammuseum.nl/" alt="Amsterdam museum" target="_parent" /><area shape="rect" coords="450,1,587,123" href="http://www.doen.nl/" target="_parent" alt="Stichting Doen" />
<area shape="rect" coords="621,-2,734,119" href="http://www.movisie.nl/" target="_parent" alt="movisie" />
<area shape="rect" coords="759,0,892,119" href="http://www.erfgoednederland.nl/" alt="erfgoed Nederland" target="_parent" /></map>
      </footer>



    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-django-csrf.js"></script>
    {% block extra_js %}{% endblock extra_js %}    
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
  </body>
</html>
