{% extends 'base.html' %}
{% block container %}
<h1>{{serie.naam}}</h1>

    <div class="blokLeft" id="viewer">
        <h3>{{obj.title.0}}</h3>
        <img src="{{obj.picref}}">

        {% if obj.maker %}
        <p><em>door:</em> 
        {% for m in obj.maker %}
            {{m.creator.0}}
        {% if not forloop.last %}&middot; {% endif %} 
        {% endfor %}
        </p>
        {% endif %}

        {% if obj.collection %}
        <h4>{{obj.collection.0}}</h4>
        {% endif %}

        <a href="http://collectie.amsterdammuseum.nl/dispatcher.aspx?action=search&database=ChoiceCollect&search=priref={{obj.priref.0}}">Bekijken op Collectie Website - {{obj.priref.0}}</a>

    </div>
    <div class="blokRight">
        <h2>{{vraag.txt}}</h2>
        {% if vraag.opties.count %}
            {% for optie in vraag.opties.all %}
                <input type="radio" class="optie" name="optie" value="{{optie.data}}">
                 {{optie.optie}}
                 {% if optie.vrij %}
                 <input type="text" id="antwoord" class="span4">
                 {% endif %}
            {% endfor %}
        {% else %}
        <input type="text" id="antwoord" class="span4">
        {% endif %}  
            <a href="#" class="btn btn-primary pull-right" id="volgende">Volgende</a>

      
            <div class="progress progress-striped active">
                <div id="progressbar" class="bar" style="width: 0%;"></div>
            </div>
            <h3>Scoreboard</h3>
            <p><em>Je heb {{antwoorden.count}} van {{serie.items.count}} in deze reeks gedaan. Ga door!</em></p>
            <p>Aantal deelnemers: {{aantal_deelnemers}}</p>
            <p>Aantal antwoorden: {{aantal_antwoorden}}</p>
            <p>Gemiddeld aantale taken gedaan: {{gem_antwoorden}}</p>

	</div>


{% endblock container %}

{% block extra_js %}
<script type="text/javascript">
$('#antwoord').focus();
var SERIEVRAAG_PK = '{{serievraag.pk}}';
var OBJ_ID = '{{obj.priref.0}}';

var current = 0;
PROGRESSTIMER = setInterval(function() {
    current = current + 5;
    if(current >= 100) {
        // clearInterval(PROGRESSTIMER);
        // return;
        document.location = '.';
        current = -10;
        $('#progressbar').fadeOut();
        $('#volgende').fadeOut();
    }
    var currentpercent = current/100*100;
    $('#progressbar').css('width', currentpercent+'%');    
},1000);
</script>
{% endblock extra_js %}
