{% extends 'base.html' %}
{% block container %}
	<div class="kleinBlok">
    <h1>Culturele Crowdsourcing Game</h1>
	
    <h3>Kies een serie om te spelen:</h3>
    <ul>
    {% for s in series %}
    <li><a href="/doseries/{{s.pk}}/">{{s.naam}}</a></li>
    {% endfor %}
    </ul>
	    
    {% if user.get_profile.is_docent %}
    <h2>Docent bij {{user.get_profile.school.name}}</h2>

    {% for l in user.get_profile.school.users.all %}
    {% if not l.is_docent %}
    <p><a href="/admin/AHMTG/antwoord/?user__id__exact={{l.user.pk}}">{{l.user.email}}</a></p>
    {% endif %}

    {% endfor %}

    {% endif %}
	<br class="clear" />
	</div>
{% endblock container %}