{% extends 'base.html' %}

{% block container %}

{% if msg %}
<div class="alert alert-error">{{msg|safe}}</div>    
{% endif %}

<div class="row">
<h1>Registreren</h1>


<form action="." method="post">
    <div style='display:none'>
    {% csrf_token %}
    </div>

    <div class="form-row">  
        <input id="id_username" type="text" name="username" maxlength="30" placeholder="Email" {% if username %}value="{{username}}"{% endif %}/>
        <input type="password" name="password" id="id_password" placeholder="Wachtwoord" 
        {% if password %}value="{{password}}"{% endif %}/>
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="/" />
    </div>

    <div>
        <select name="school">
            <option value="">Kies je school</option>
            {% for s in schools %}
                <option value="{{s.pk}}">{{s}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>&nbsp;</label><input type="submit" value="Registreren" class="btn"/>
    </div>
</div>
</form>

{% endblock container %}